body {
  background-color: #e5e5e5;
}

h2,
h3 {
  margin: 0;
  margin-bottom: 10px;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1400px;
  display: flex;
  gap: 30px;
}

.train-table {
  background-color: #fff;
  border-radius: 10px;
  min-width: 300px;
  padding: 20px;
}

.train-table-details {
  height: 400px;
  min-width: 400px;
}

.train-table__title {
  font-size: 30px;
  margin-bottom: 10px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table__header {
  background-color: #e5e5e5;
}

th {
  padding: 10px;
  color: #a3a3a3;
}

td {
  padding: 10px;
  text-align: center;
}

.table__item__row {
  cursor: pointer;
}

.table__item__row:not(:last-child) {
  border-bottom: 1px solid grey;
}

input {
  border: none;
  text-align: center;
}

.button {
  cursor: pointer;
  margin-top: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.button__area {
  display: flex;
  justify-content: center;
}
